@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  transition: transform 1s ease, opacity 0.3s ease;
  transform: translateY(-100%);
  opacity: 0;
}
.navbar.show {
  transform: translateY(-50);
  opacity: 0.7;
}


.gradientHero {
  background-image: linear-gradient(
    to left,
    #6dbbaa ,
    #1b1c1e 
    
  );
}

.gradientAboutHome{
  background-image: linear-gradient(
    to top right,
    #6dbbaa 20%,
    #f0f2f4 20%
    
  );
}

.no-scroll {
  overflow: hidden;
}

/* styles.css or your global stylesheet */
.custom-menu-icon {
  display: none !important; /* Hide by default */
}

@media (max-width: 1024px) { /* Adjust this value for your specific breakpoint */
  .custom-menu-icon {
      display: block !important; /* Show on smaller screens */
  }
}


.buttonGradient{
  background-image: radial-gradient(
    circle,
    #f0f2f4 10%,
    #6dbbaa
  );
}